@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 193 66% 100%;
    --foreground: 193 68% 2%;
    --muted: 193 12% 89%;
    --muted-foreground: 193 1% 31%;
    --popover: 193 66% 100%;
    --popover-foreground: 193 68% 2%;
    --card: 0 0% 99%;
    --card-foreground: 193 68% 1%;
    --border: 193 7% 92%;
    --input: 193 7% 92%;
    --primary: 193 76% 46%;
    --primary-foreground: 193 0% 100%;
    --secondary: 193 15% 92%;
    --secondary-foreground: 193 15% 32%;
    --accent: 193 15% 92%;
    --accent-foreground: 193 15% 32%;
    --destructive: 18 93% 31%;
    --destructive-foreground: 0 0% 100%;
    --ring: 193 76% 46%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 193 35% 0%;
    --foreground: 193 18% 98%;
    --muted: 193 12% 11%;
    --muted-foreground: 193 1% 69%;
    --popover: 193 35% 0%;
    --popover-foreground: 193 18% 98%;
    --card: 0 0% 1%;
    --card-foreground: 193 18% 99%;
    --border: 193 7% 10%;
    --input: 193 7% 10%;
    --primary: 193 76% 46%;
    --primary-foreground: 193 76% 6%;
    --secondary: 193 8% 8%;
    --secondary-foreground: 193 8% 68%;
    --accent: 193 8% 8%;
    --accent-foreground: 193 8% 68%;
    --destructive: 18 93% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 193 76% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
