@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 196 33% 99%;
    --foreground: 196 77% 1%;
    --muted: 171.43 36.84% 96.27%;
    --muted-foreground: 166 3% 29%;
    --popover: 196 33% 99%;
    --popover-foreground: 196 77% 1%;
    --card: 196 33% 98%;
    --card-foreground: 0 0% 0%;
    --border: 196 13% 89%;
    --input: 196 13% 89%;
    --primary: 196 74% 15%;
    --primary-foreground: 171.43 36.84% 96.27%;
    --secondary: 72.08 64.37% 51.57%;
    --secondary-foreground: 72.08 49.51% 8.75%;
    --accent: 72.08 64.37% 51.57%;
    --accent-foreground: 72.08 0% 0%;
    --destructive: 1 88% 39%;
    --destructive-foreground: 1 88% 99%;
    --ring: 196 74% 15%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 196 59% 2%;
    --foreground: 196 28% 98%;
    --muted: 166 38% 10%;
    --muted-foreground: 166 3% 71%;
    --popover: 196 59% 2%;
    --popover-foreground: 196 28% 98%;
    --card: 196 59% 3%;
    --card-foreground: 196 28% 99%;
    --border: 196 13% 11%;
    --input: 196 13% 11%;
    --primary: 196 74% 15%;
    --primary-foreground: 196 74% 75%;
    --secondary: 166 74% 15%;
    --secondary-foreground: 166 74% 55%;
    --accent: 226 74% 15%;
    --accent-foreground: 226 74% 75%;
    --destructive: 1 88% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 196 74% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
